In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [2]:
# Store the CSV into a DataFram.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Matara,LK,2022-01-26 23:36:59,5.9485,80.5353,71.02,88,86,3.65
1,1,Bom Jardim,BR,2022-01-26 23:37:00,-7.7958,-35.5872,79.14,80,46,8.21
2,2,Dumai,ID,2022-01-26 23:36:46,1.6833,101.4500,72.32,91,44,2.44
3,3,Kinsale,IE,2022-01-26 23:37:00,51.7075,-8.5306,50.23,100,75,14.97
4,4,Ushuaia,AR,2022-01-26 23:34:20,-54.8000,-68.3000,51.46,71,75,32.21

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speeds
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Bom Jardim,BR,2022-01-26 23:37:00,-7.7958,-35.5872,79.14,80,46,8.21
9,9,Vaini,TO,2022-01-26 23:33:33,-21.2000,-175.2000,87.96,74,20,6.91
12,12,Atuona,PF,2022-01-26 23:34:37,-9.8000,-139.0333,79.07,77,13,17.81
13,13,Rikitea,PF,2022-01-26 23:37:03,-23.1203,-134.9692,78.48,77,27,17.63
14,14,Avarua,CK,2022-01-26 23:37:03,-21.2078,-159.7750,82.45,83,75,13.80
33,33,Bengkulu,ID,2022-01-26 23:35:45,-3.8004,102.2655,75.76,90,100,3.94
40,40,Kanniyakumari,IN,2022-01-26 23:37:12,8.0833,77.5667,75.25,81,73,5.97
43,43,Kavaratti,IN,2022-01-26 23:37:13,10.5669,72.6420,77.22,60,62,7.49
48,48,Carnarvon,AU,2022-01-26 23:38:16,-24.8667,113.6333,75.27,78,90,18.41
49,49,Ranong,TH,2022-01-26 23:38:16,9.9658,98.6348,76.93,83,39,2.93

In [11]:
preferred_cities_df.count()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [12]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1      Bom Jardim      BR     79.14  -7.7958  -35.5872
9           Vaini      TO     87.96 -21.2000 -175.2000
12         Atuona      PF     79.07  -9.8000 -139.0333
13        Rikitea      PF     78.48 -23.1203 -134.9692
14         Avarua      CK     82.45 -21.2078 -159.7750
33       Bengkulu      ID     75.76  -3.8004  102.2655
40  Kanniyakumari      IN     75.25   8.0833   77.5667
43      Kavaratti      IN     77.22  10.5669   72.6420
48      Carnarvon      AU     75.27 -24.8667  113.6333
49         Ranong      TH     76.93   9.9658   98.6348

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bom Jardim,BR,79.14,-7.7958,-35.5872,Pousada do Posto Jose Breno
9,Vaini,TO,87.96,-21.2000,-175.2000,Keleti Beach Resort
12,Atuona,PF,79.07,-9.8000,-139.0333,Villa Enata
13,Rikitea,PF,78.48,-23.1203,-134.9692,People ThankYou
14,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
33,Bengkulu,ID,75.76,-3.8004,102.2655,Grage Hotel Bengkulu
40,Kanniyakumari,IN,75.25,8.0833,77.5667,Sparsa
43,Kavaratti,IN,77.22,10.5669,72.6420,Hotels in Lakshadweep Islands
48,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
49,Ranong,TH,76.93,9.9658,98.6348,Tinidee Hotel@Ranong

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))